<!-- Breadcrumb -->
<div
    class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between"
>
    <h5 class="mb-0">Mis espacios</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <!-- <i class="ri-home-8-line"></i> -->
                Funciones
            </a>
        </li>
        <li class="breadcrumb-item position-relative">Mis espacios</li>
    </ol>
</div>

@if (!showCalendar) {
<div class="row">
    <div class="col-lg-4 col-md-6">
        <mat-card
            class="daxa-card mb-25 border-radius bg-white border-none d-block"
        >
            <mat-card-content>
                <div class="d-flex flex-column align-items-center">
                    <h5 class="mb-10">Laboratorio de Biologia</h5>
                    <i class="ri-building-2-fill"></i>
                    <h5>ULEAM</h5>
                    <p>Av. Circunvalución, Manta</p>
                    <h5>Ciencias de la vida y tecnología</h5>
                    <p>Bloque de biologia</p>
                    <button
                        mat-raised-button
                        class="daxa mt-2"
                        (click)="toggleCalendar()"
                    >
                        Seleccionar
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
}@else {
<div class="row">
    <div class="col-lg-8">
        <mat-card
            class="daxa-card calendar-card mb-25 border-radius bg-white border-none d-block"
            [class.component-dark-theme]="themeService.isDark()"
        >
            <mat-card-content>
                <full-calendar [options]="calendarOptions"></full-calendar>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-4">
        <mat-card
            class="daxa-card splitter-card mb-20 border-radius bg-white border-none d-block"
        >
            <!-- Header -->

            <!-- Content -->
            <mat-card-content>
                <div class="splitter-table">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource">
                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox
                                        (change)="
                                            $event ? toggleAllRows() : null
                                        "
                                        [checked]="
                                            selection.hasValue() &&
                                            isAllSelected()
                                        "
                                        [indeterminate]="
                                            selection.hasValue() &&
                                            !isAllSelected()
                                        "
                                        [aria-label]="checkboxLabel()"
                                    >
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox
                                        (click)="$event.stopPropagation()"
                                        (change)="
                                            $event
                                                ? selection.toggle(row)
                                                : null
                                        "
                                        [checked]="selection.isSelected(row)"
                                        [aria-label]="checkboxLabel(row)"
                                    >
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef>
                                    Identificador
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.id }}
                                </td>
                            </ng-container>

                            <!-- Subject Column -->
                            <ng-container matColumnDef="teacher">
                                <th mat-header-cell *matHeaderCellDef>
                                    Profesor
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.teacher }}
                                </td>
                            </ng-container>

                            <!-- Career Column -->
                            <ng-container matColumnDef="startDate">
                                <th mat-header-cell *matHeaderCellDef>
                                    Hora de inicio
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.startDate }}
                                </td>
                            </ng-container>

                            <!-- Period Column -->
                            <ng-container matColumnDef="endDate">
                                <th mat-header-cell *matHeaderCellDef>
                                    Hora de finalización
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.endDate }}
                                </td>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>
                                    Estado
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span
                                        class="daxa-badge d-inline-block"
                                        [ngClass]="
                                            statusOptions[element.status].class
                                        "
                                    >
                                        {{
                                            statusOptions[element.status].label
                                        }}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef>
                                    Acciones
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="action-info">
                                        @for (item of element.action; track
                                        $index) {

                                        <button
                                            type="button"
                                            mat-button
                                            [matTooltip]="item.label"
                                            matTooltipPosition="above"
                                        >
                                            <i
                                                class="material-symbols-outlined"
                                            >
                                                {{ item.name }}
                                            </i>
                                        </button>
                                        }
                                    </div>
                                </td>
                            </ng-container>

                            <!--  TR -->
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card
            class="daxa-card splitter-card mb-20 border-radius bg-white border-none d-block"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">Añadir documentos</h5>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="mb-20">
                    <file-upload
                        class="file-uploader"
                        [multiple]="multiple"
                    ></file-upload>
                </div>

                <div class="d-flex justify-content-end mb-20">
                    <button mat-raised-button class="btn daxa" type="button">
                        Subir
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
}
