.mat-mdc-card {
    &.daxa-card {
        &.splitter-card {
            .mat-mdc-card-content {
                margin: {
                    left: -20px;
                    right: -20px;
                }
                .recent-orders-table {
                    .mat-mdc-table {
                        .mat-mdc-header-cell {
                            padding: {
                                top: 18px;
                                bottom: 18px;
                            }
                            &:last-child {
                                text-align: right;
                            }
                        }
                        .mat-mdc-cell {
                            padding: {
                                top: 15px;
                                bottom: 15px;
                            }
                            &:last-child {
                                text-align: right;
                            }
                        }
                        .info {
                            .image {
                                width: 50px;
                                line-height: 0.01;
                                margin-right: 12px;

                                img {
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
::ng-deep {
    .mat-mdc-card {
        &.daxa-card {
            &.splitter-card {
                .mat-mdc-card-header {
                    .mat-mdc-card-header-text {
                        .mat-mdc-card-subtitle {
                            .search-box {
                                margin-left: 25px;
                            }
                        }
                    }
                }
                .mat-mdc-card-content {
                    .recent-orders-table {
                        .mat-mdc-paginator {
                            padding: {
                                top: 15px;
                                left: 20px;
                                right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .mat-mdc-card {
        &.daxa-card {
            &.splitter-card {
                .mat-mdc-card-content {
                    margin: {
                        left: -15px;
                        right: -15px;
                    }
                    .recent-orders-table {
                        .mat-mdc-table {
                            .mat-mdc-header-cell {
                                padding: {
                                    top: 10px;
                                    bottom: 10px;
                                }
                            }
                            .mat-mdc-cell {
                                padding: {
                                    top: 10px;
                                    bottom: 10px;
                                }
                            }
                            .info {
                                .image {
                                    width: 40px;
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.splitter-card {
                    .mat-mdc-card-header {
                        .mat-mdc-card-header-text {
                            display: block;

                            .mat-mdc-card-subtitle {
                                margin-top: 12px;
                                justify-content: space-between;
                            }
                            .mat-mdc-card-subtitle {
                                .search-box {
                                    width: 68%;
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                    .mat-mdc-card-content {
                        .recent-orders-table {
                            .mat-mdc-paginator {
                                padding: {
                                    top: 10px;
                                    left: 15px;
                                    right: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .mat-mdc-card {
        &.daxa-card {
            &.splitter-card {
                .mat-mdc-card-content {
                    margin: {
                        left: -20px;
                        right: -20px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.splitter-card {
                    .mat-mdc-card-content {
                        .recent-orders-table {
                            .mat-mdc-paginator {
                                padding: {
                                    left: 20px;
                                    right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.splitter-card {
                    .mat-mdc-card-header {
                        .mat-mdc-card-header-text {
                            .mat-mdc-card-subtitle {
                                .search-box {
                                    width: 280px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
