<mat-card
    class="daxa-card error-card mb-25 pt-0 border-radius bg-white border-none d-block text-center"
>
    <mat-card-content>
        <img src="assets/images/error.png" alt="error-image" />
        <h3>¡OOPS! 404 ¡Página no encontrada!</h3>
        <p>
            Estamos trabajando para solucionarlo lo antes posible. Mientras
            tanto, puede visitar nuestra página de inicio.
        </p>
        <a mat-button routerLink="/"> Volver al inicio </a>
    </mat-card-content>
</mat-card>
